In [1]:
import pandas as pd
import numpy as np

# Iterate DataFrame using For Loop

In [2]:
array = np.random.randint(20,30, size = (6,4))
df = pd.DataFrame(array, index = list("python"), columns=list('abcd'))
df

    a   b   c   d
p  22  29  29  26
y  22  22  21  27
t  28  20  28  26
h  29  24  27  21
o  25  27  26  24
n  27  26  22  25

# 1. df.columns

In [3]:
for col_name in df.columns:
    print("Col_name", col_name)

Col_name a
Col_name b
Col_name c
Col_name d

In [4]:
for col_name in df.columns:
    print("Col_name", col_name)
    print(df[col_name])
    print("*"*60)
    print()

Col_name a
p    22
y    22
t    28
h    29
o    25
n    27
Name: a, dtype: int32
************************************************************

Col_name b
p    29
y    22
t    20
h    24
o    27
n    26
Name: b, dtype: int32
************************************************************

Col_name c
p    29
y    21
t    28
h    27
o    26
n    22
Name: c, dtype: int32
************************************************************

Col_name d
p    26
y    27
t    26
h    21
o    24
n    25
Name: d, dtype: int32
************************************************************

# 2. df.items()

In [5]:
for col_name, col_data in df.items():
    print("Col_name",col_name)

Col_name a
Col_name b
Col_name c
Col_name d

In [6]:
for col_name, col_data in df.items():
    print("Col_name",col_name)
    print(col_data)
    print("*"*60)
    print()

Col_name a
p    22
y    22
t    28
h    29
o    25
n    27
Name: a, dtype: int32
************************************************************

Col_name b
p    29
y    22
t    20
h    24
o    27
n    26
Name: b, dtype: int32
************************************************************

Col_name c
p    29
y    21
t    28
h    27
o    26
n    22
Name: c, dtype: int32
************************************************************

Col_name d
p    26
y    27
t    26
h    21
o    24
n    25
Name: d, dtype: int32
************************************************************

In [ ]:
# Access rows

In [7]:
for row_name in df.index:
    print("Row Name",row_name)

Row Name p
Row Name y
Row Name t
Row Name h
Row Name o
Row Name n

In [8]:
for row_name in df.index:
    print("Row Name",row_name)
    print(df.loc[row_name])
    print("*"*60)
    print()

Row Name p
a    22
b    29
c    29
d    26
Name: p, dtype: int32
************************************************************

Row Name y
a    22
b    22
c    21
d    27
Name: y, dtype: int32
************************************************************

Row Name t
a    28
b    20
c    28
d    26
Name: t, dtype: int32
************************************************************

Row Name h
a    29
b    24
c    27
d    21
Name: h, dtype: int32
************************************************************

Row Name o
a    25
b    27
c    26
d    24
Name: o, dtype: int32
************************************************************

Row Name n
a    27
b    26
c    22
d    25
Name: n, dtype: int32
************************************************************

# df.iteritems

In [9]:
for col_name, col_data in df.iteritems():
    print("Col_name", col_name)

Col_name a
Col_name b
Col_name c
Col_name d

In [11]:
for col_name, col_data in df.iteritems():
    print("Col_name", col_name)
    print(col_data, type(col_data))
    print("*"*60)
    print()

Col_name a
p    22
y    22
t    28
h    29
o    25
n    27
Name: a, dtype: int32 <class 'pandas.core.series.Series'>
************************************************************

Col_name b
p    29
y    22
t    20
h    24
o    27
n    26
Name: b, dtype: int32 <class 'pandas.core.series.Series'>
************************************************************

Col_name c
p    29
y    21
t    28
h    27
o    26
n    22
Name: c, dtype: int32 <class 'pandas.core.series.Series'>
************************************************************

Col_name d
p    26
y    27
t    26
h    21
o    24
n    25
Name: d, dtype: int32 <class 'pandas.core.series.Series'>
************************************************************

In [12]:
for col_name, col_data in df.iteritems():
    print("Col_name", col_name)
    print(col_data.tolist())
    print("*"*60)
    print()

Col_name a
[22, 22, 28, 29, 25, 27]
************************************************************

Col_name b
[29, 22, 20, 24, 27, 26]
************************************************************

Col_name c
[29, 21, 28, 27, 26, 22]
************************************************************

Col_name d
[26, 27, 26, 21, 24, 25]
************************************************************

# df.iterrows()

In [13]:
for row_label, row_data in df.iterrows():
    print("Row Name", row_label)

Row Name p
Row Name y
Row Name t
Row Name h
Row Name o
Row Name n

In [14]:
for row_label, row_data in df.iterrows():
    print("Row Name", row_label)
    print(row_data)
    print("*"*60)
    print()

Row Name p
a    22
b    29
c    29
d    26
Name: p, dtype: int32
************************************************************

Row Name y
a    22
b    22
c    21
d    27
Name: y, dtype: int32
************************************************************

Row Name t
a    28
b    20
c    28
d    26
Name: t, dtype: int32
************************************************************

Row Name h
a    29
b    24
c    27
d    21
Name: h, dtype: int32
************************************************************

Row Name o
a    25
b    27
c    26
d    24
Name: o, dtype: int32
************************************************************

Row Name n
a    27
b    26
c    22
d    25
Name: n, dtype: int32
************************************************************

In [15]:
for row_label, row_data in df.iterrows():
    print("Row Name", row_label)
    print(row_data)

Row Name p
a    22
b    29
c    29
d    26
Name: p, dtype: int32
Row Name y
a    22
b    22
c    21
d    27
Name: y, dtype: int32
Row Name t
a    28
b    20
c    28
d    26
Name: t, dtype: int32
Row Name h
a    29
b    24
c    27
d    21
Name: h, dtype: int32
Row Name o
a    25
b    27
c    26
d    24
Name: o, dtype: int32
Row Name n
a    27
b    26
c    22
d    25
Name: n, dtype: int32

In [16]:
for row_label, row_data in df.iterrows():
    print("Row Name", row_label)
    print(row_data.tolist())

Row Name p
[22, 29, 29, 26]
Row Name y
[22, 22, 21, 27]
Row Name t
[28, 20, 28, 26]
Row Name h
[29, 24, 27, 21]
Row Name o
[25, 27, 26, 24]
Row Name n
[27, 26, 22, 25]