# Pandas get_dummies Function

In [1]:
import pandas as pd
import numpy as np

# 1. pd.get_dummies()

In [ ]:
Used to convert categorical variable into dummy/ indicator variable.

Syntax:
    pd.get_dummies(df, columns=['col1', 'col2',....], prefix = '')

In [2]:
df = pd.read_csv("movies_data.csv")
df

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [3]:
df['genre'].nunique()

16

In [4]:
df['genre'].unique()

array(['Crime', 'Action', 'Drama', 'Western', 'Adventure', 'Biography',
       'Comedy', 'Animation', 'Mystery', 'Horror', 'Film-Noir', 'Sci-Fi',
       'History', 'Thriller', 'Family', 'Fantasy'], dtype=object)

In [5]:
df['genre'].value_counts()

Drama        278
Comedy       156
Action       136
Crime        124
Biography     77
Adventure     75
Animation     62
Horror        29
Mystery       16
Western        9
Sci-Fi         5
Thriller       5
Film-Noir      3
Family         2
History        1
Fantasy        1
Name: genre, dtype: int64

In [ ]:
Categorical Data:
    1. Ordinal Data >> high, medium, low  #  Can orderd the sequence
    2. Nominal Data >> Drama, Comedy, Action  # Can not ordered the sequence

In [6]:
df['genre'].replace({'Drama':0,
                    "Comedy":1,
                    "Action":2,
                    "Crime":3,
                    "Biography":4,
                    "Adventure":5,
                    "Animation":6,
                    "Horror":7,
                    "Mystery":8,
                    "Western":9,
                    "Sci-Fi":10,
                    "Thriller":11,
                    "Film-Noir":12,
                    "Family":13,
                    "History":14,
                    "Fantasy":15})

0          Crime
1          Crime
2          Crime
3         Action
4          Crime
         ...
974       Comedy
975    Adventure
976       Action
977       Horror
978        Crime
Name: genre, Length: 979, dtype: object

In [7]:
df['genre'].replace({'Drama':0,
                    "Comedy":1,
                    "Action":2,
                    "Crime":3,
                    "Biography":4,
                    "Adventure":5,
                    "Animation":6,
                    "Horror":7,
                    "Mystery":8,
                    "Western":9,
                    "Sci-Fi":10,
                    "Thriller":11,
                    "Film-Noir":12,
                    "Family":13,
                    "History":14,
                    "Fantasy":15})

0      3
1      3
2      3
3      2
4      3
      ..
974    1
975    5
976    2
977    7
978    3
Name: genre, Length: 979, dtype: int64

In [8]:
df['genre'].nunique()

16

In [10]:
genre_df = pd.get_dummies(df['genre'])
genre_df

,Action,Adventure,Animation,Biography,Comedy,Crime,Drama,Family,Fantasy,Film-Noir,History,Horror,Mystery,Sci-Fi,Thriller,Western
0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
974,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
975,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
976,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
977,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
978,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [11]:
df['content_rating'].unique()

array(['R', 'PG-13', 'NOT RATED', 'PG', 'UNRATED', 'APPROVED', 'PASSED',
       'G', 'X', nan, 'TV-MA', 'GP', 'NC-17'], dtype=object)

In [12]:
content_rating_df = pd.get_dummies(df['content_rating'])
content_rating_df

,APPROVED,G,GP,NC-17,NOT RATED,PASSED,PG,PG-13,R,TV-MA,UNRATED,X
0,0,0,0,0,0,0,0,0,1,0,0,0
1,0,0,0,0,0,0,0,0,1,0,0,0
2,0,0,0,0,0,0,0,0,1,0,0,0
3,0,0,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
974,0,0,0,0,0,0,1,0,0,0,0,0
975,0,0,0,0,0,0,1,0,0,0,0,0
976,0,0,0,0,0,0,0,1,0,0,0,0
977,0,0,0,0,0,0,1,0,0,0,0,0
978,0,0,0,0,0,0,0,0,1,0,0,0

In [13]:
content_rating_df = pd.get_dummies(df['content_rating'], prefix="XY")
content_rating_df

,XY_APPROVED,XY_G,XY_GP,XY_NC-17,XY_NOT RATED,XY_PASSED,XY_PG,XY_PG-13,XY_R,XY_TV-MA,XY_UNRATED,XY_X
0,0,0,0,0,0,0,0,0,1,0,0,0
1,0,0,0,0,0,0,0,0,1,0,0,0
2,0,0,0,0,0,0,0,0,1,0,0,0
3,0,0,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
974,0,0,0,0,0,0,1,0,0,0,0,0
975,0,0,0,0,0,0,1,0,0,0,0,0
976,0,0,0,0,0,0,0,1,0,0,0,0
977,0,0,0,0,0,0,1,0,0,0,0,0
978,0,0,0,0,0,0,0,0,1,0,0,0

In [14]:
pd.get_dummies(df, columns=['content_rating', 'genre'])

,star_rating,title,duration,actors_list,content_rating_APPROVED,content_rating_G,content_rating_GP,content_rating_NC-17,content_rating_NOT RATED,content_rating_PASSED,...,genre_Drama,genre_Family,genre_Fantasy,genre_Film-Noir,genre_History,genre_Horror,genre_Mystery,genre_Sci-Fi,genre_Thriller,genre_Western
0,9.3,The Shawshank Redemption,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,9.2,The Godfather,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,9.1,The Godfather: Part II,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv...",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9.0,The Dark Knight,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E...",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,8.9,Pulp Fiction,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L....",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
974,7.4,Tootsie,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G...",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
975,7.4,Back to the Future Part III,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma...",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
976,7.4,Master and Commander: The Far Side of the World,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo...",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
977,7.4,Poltergeist,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr...",0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
978,7.4,Wall Street,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar...",0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0